* {
  background-color: rgb(68, 177, 250);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.title-principal {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  align-content: center;
  margin: 0px;
  display: block;
}