#index {
  background:url(https://img3.stockfresh.com/files/s/sanjanovakovic/m/70/4854848_stock-vector-vintage-background-for-cooking-recipes-1.jpg);
}

.index {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin: 15% 25% 25% 25%;
  bottom: 500px;
  width: 500px;
  font-size: 20px;
  border-radius: 10%;
}

.title-principal {
  color: rgb(0, 0, 0);
  width: 500px;
  margin: auto;
  text-align: center;
}

div#link-recipes {
  margin-left: 30px;
  width: 500px;
}

#links {
  display: inline;
  margin: 0px;
}

.link {
  font-size: 20px;
  width: 100%;
  margin: 0px;
}

ul li.link {
  font-size: 18px;
  width: 100%;
  margin: 0px;
}

.png {
  width: 60px;
  padding-left: 50px;  
  margin-bottom: -20px;
  margin-right: 0 auto;
}

#png1 {
  padding-left: 150px;
}


/*Pag Zucchini*/
#title_brownie {
  width: 20%;
  text-align: center;
  margin: auto;
  align-content: center;
}

#title_pancake {
  width: 30%;
  text-align: center;
  margin: auto;
  align-content: center;
}

#pagebrownie {
  background: url(https://img.freepik.com/vector-premium/patron-brownies-postre-chocolate-fondos-ideas_748360-491.jpg?w=740);
  padding: 20px;
  border: 20%;
}

#pagecookies {
  background: url(https://i.pinimg.com/originals/fb/3c/f2/fb3cf2fcbc704f77fca8a909d47cf526.jpg);
  padding: 20px;
  border: 20%;
}

#pagepancakes {
  background: url(https://static.vecteezy.com/system/resources/previews/000/558/623/non_2x/seamless-pattern-of-pancakes-with-butter-and-maple-syrup-sweet-on-white-background-vector.jpg);
  padding: 20px;
  border: 20%;
}

#formbrownie, #formpancakes, #formcookies {
  background-color: rgba(255, 255, 255, 0.6 );
  border-radius: 20px;
}

.img {
  text-align: center;
  margin: 0%;
  
}

.tdescription {
  width: 18%;
  margin: auto;
}

.description {
  font-size: 18px;
  font-weight: bold;
}

.ingredients {
  font-size: 20px;
  width: 18%;
  margin-left: 25px;
}

ul li {
  font-size: 17px;
  width: 50%;
}

.frosting {
  width: 12%;
  font-size: 20px;
  margin-left: 25px;
}

.steps {
  width: 8%;
}

.step {
  font-size: 20px;
  margin-left: 25px;
  font-size: 17px;
  width: 6%;
}

p {
  margin: 0%;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

.return {
  margin-left: 40px;
  width: 10%;
}